body {
   display: flex;
   flex-direction: column;
   height: 100vh;
   margin: 0;
   padding: 0;
}
#header {
   flex: 0 0 auto;
   padding: 10px;
   /* background-color: #f0f0f0;
   border-bottom: 1px solid #ccc; */
}
#tabulator-table {
   flex: 1 1 auto;
   overflow: hidden; /* Hide default scrollbars */
   position: relative;
}
.tabulator-tableHolder {
   overflow-x: auto; /* Ensure content extends behind scrollbars */
   overflow-y: hidden; /* Hide vertical scrollbar */
}
/* Narrow scrollbars with default colors */
.tabulator-tableHolder::-webkit-scrollbar,
.tabulator-tableholder::-webkit-scrollbar {
   width: 4px;
   height: 4px;
}
/* .tabulator-tableHolder::-webkit-scrollbar-track {
   background: #f0f0f0;
}
.tabulator-tableHolder::-webkit-scrollbar-thumb {
   background: #888;
   border-radius: 4px;
}
.tabulator-tableHolder::-webkit-scrollbar-thumb:hover {
   background: #555;
} */
.tabulator-tableHolder::-webkit-scrollbar-button,
.tabulator-tableholder::-webkit-scrollbar-button {
   display: none; /* Hide buttons if not needed */
}
.tabulator-tableHolder,
.tabulator-tableholder {
   -ms-overflow-style: auto; /* IE and Edge */
   scrollbar-width: thin; /* Firefox */
}
.wrap-text .tabulator-cell {
   white-space: normal !important;
   position: relative;
}
.wrap-text .tabulator-cell.overflow::after {
   content: "...↓";
   position: absolute;
   bottom: 1px;
   right: 1px;
   font-size: 12px; /* Smaller dots */
   visibility: visible;
   pointer-events: none;
}
.nowrap-text .tabulator-cell {
   white-space: nowrap !important;
   overflow: hidden;
   text-overflow: ellipsis;
}
.nowrap-text .tabulator-cell.overflow::after {
   visibility: visible;
}